<!DOCTYPE html>
<html>
    <head>
        <title>Ascii Art Web</title> 
    </head>
<body>
    <hi>Welcome To Ascii Art Web.</hi>

    <form method="post"></form>
    <textarea 
    name="text"
    rows="8"
    cols="50"
    placeholder="Please Enter Your Text Here...."
     ></textarea>
     <br><br>

     <select name="banner">
        <option value="standard">Standard</option>
        <option value="shadow">Shadow</option>
        <option value="thinkertoy">Thinkertoy</option>
     </select>
     <br><br>

     <button type="submit">Generate</button>
</body>
</html>