<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art Web</title>
</head>
<body>

    <h1>Welcome to ASCII Art Web</h1>

    <form method="post">

        <textarea 
        name="text"
        rows="8"
        cols="50"
        placeholder="Enter Your text...">
    </textarea>
    <br><br>

    <select name="banner">
        <option value="standard">Standard</option>
        <option value="shadow">Shadow</option>
        <option value="thinkertoy">Thinkertoy</option>
    </select>
    <br><br>

    <button type="submit">
        Generate
    </button>
    </form>
</body>
</html>