<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii wep</title>
</head>
<body>
    <form method="post">
        <h1>Welcome To Ascii Art</h1>
        <textarea
        name="text"
        rows="8"
        cols="50"
        placeholder="Enter Your Words Here...."></textarea>
        <br><br>

        <select name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinhertoy</option>
        </select>
        <br><br>

        <button type="submit">Generate</button>
</html>